.video-container{
	overflow: hidden;
	height: 100%;
	.owl-videobg{
	    position: relative;
	    display: block;
	    height: 100%;
	    .owl-video-wrapper {
		    position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		    overflow: hidden;
		}
	}
}

.page-head{
	.video-container{
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
	}
}