
.pub-item{
	position: relative;
	border-bottom: 1px solid $chaos_borderinlight;
	padding-bottom: 30px;
	margin-bottom: 30px;
	.elem-wrapper{
		float: left;	
	}
	
	
	.content-wrapper{
		position: relative;
		>a{
			display: block;
			text-decoration: none;
			&:hover,
			&:focus{
				
				.title{
					color: $chaos_dark;
				}
			}
		}
	}
	&.with-icon{
		.elem-wrapper i{
			background-color: rgba(255, 255, 255, 0.6);
			color: $chaos_textinlight_verylight;
			width: 42px;
			height: 42px;
			border-radius: 50%;
			border: 1px;
			font-size: 20px;
			text-align: center;
			vertical-align: middle;
			border: 1px solid $chaos_textinlight_verylight;
			line-height: 42px;
			display: block;
			transition: all 0.25s ease;
		}
		.content-wrapper{
			margin-left: 70px;
		}
	}
	.pub-thumbnail{
		border: 1px solid #979797;
	}
	.title{
		font-size: 14px;
		color: $chaos_textinlight;
		margin-bottom: 20px;
		font-weight: bold;
		font-weight: 700;
		a{
			color:$chaos_textinlight;
			&:hover,
			&:focus {
				color:$chaos_dark;	
			}
		}
	}
	.description{
		font-size: 12px;
		p{
			line-height: 18px;
		}

		ul.meta{
			list-style: none;
			padding:0;
			li{
				margin-bottom: 3px;
				i{
					padding-right:5px;
					position: relative;
					top:1px;
				}
			}
		}

		.citation, .citation a{
			font-style: italic;
			color: #9d9d9d;
			max-width: 90%;


		}
		.citation {
			margin-bottom: 20px;
			a{
				&:hover,&:focus{
					color:$chaos_theme_color;
				}
			}
		}
	}

	&.with-thumb{
		img{
			width: 100%;
			height: auto;
		}
		.elem-wrapper{
			width: 50px;
		}
		.content-wrapper{
			margin-left: 70px;
		}
		&.right{
			.elem-wrapper{
				float: right;
			}
			.content-wrapper{
				margin-left: 0px;
				margin-right: 70px;
			}
		}
		&.large{
			.elem-wrapper{
				width: 85px;
			}
			.content-wrapper{
				margin-left: 102px;
			}
			&.right{
				.elem-wrapper{
					float: right;
				}
				.content-wrapper{
					margin-left: 0px;
					margin-right: 102px;
				}
			}
		}
		&.xlarge{
			.elem-wrapper{
				width: 105px;
			}
			.content-wrapper{
				margin-left: 145px;
			}
			&.right{
				.elem-wrapper{
					float: right;
				}
				.content-wrapper{
					margin-left: 0px;
					margin-right: 145px;
				}
			}
		}
	}

	.dark-wrapper &{

		border-bottom-color: #4b4b4b;
		.title,
		.title a{
			color:#fff;
		}
		&.with-icon .elem-wrapper i{
			border-color:#4b4b4b;
			background-color: #3a3a3a;
		}
		.pub-thumbnail{
			border-color:#4b4b4b;
		}
	}
}

dl.description-item{
	font-size: 12px;
	margin-bottom: 0;
	dt{
		padding-bottom: 5px;
	}
	&.dl-horizontal{
		font-size: 13px;
		dt{
		text-align: left;
		width: 100px;
		padding-bottom: 5px; 
		}
		dd{
			margin-left: 100px;
			padding-bottom: 5px;
		}
	}
	dd{
		margin-bottom: 20px;
	}
	&:after{
		display: inline-table !important;
		content: "";
		clear: both;
	}
}

.with-shaded-label{
	ul&{
		padding: 0;
		li{
			list-style: none;
			padding-left: 20px;
			margin-bottom: 30px;
			&.no-label{
				padding-left: 0px;
			}
			.title{
				font-size: 14px;
				margin-bottom: 15px;
				position: relative;
				z-index: 10;
				padding-top: 15px;
			} 

			.description,.description p{
				line-height: 16px;
				font-size: 12px;
			}
		}

		.shaded-label{
			font-size: 180%;
			margin-left: -20px; 
			bottom:2px;
		}
	}

	ol&{
		padding-top:0;
		counter-reset: li;
		padding-left: 0;
		li{

			list-style: none;
			position: relative;
			margin-bottom: 10px;
			z-index: 10;
			padding-left: 7px;
			padding-top: 10px;

			&:before{
				content:counter(li);
				counter-increment: li;
				position: absolute;
				top: -7px;
				left: 0;
				font-size: 36px;
				font-weight: bold;
				color:$chaos_textindark_lighter;
				z-index: -1;
				line-height: 1;

			}
		}

		&.ol-lower-alpha{
			li:before{
    			content:counter(li,lower-alpha);
    		}
	    }
	    &.ol-lower-roman{
	    	li:before{
	    		content:counter(li,lower-roman);
	    	}
	    }
	    &.ol-greek{
	    	li:before{
	    		content:counter(li,lower-greek);
	    	}
	    }
	    &.ol-upper-alpha{
	    	li:before{
	    		content:counter(li,upper-alpha);
	    	}
	    }
	    &.ol-upper-roman{
	    	li:before{
	    		content:counter(li,upper-roman);
	    	}
	    }
	}


	position: relative;
	z-index: 10;
	padding-top: 20px;

	.shaded-label{
		position: absolute !important;
		top:0px;
		left:0;
		z-index: -1;
		font-size: 220%;
		color:$chaos_textindark_lighter;

		&.darken{
			color:#c9c9c9;
		}
	}
}

.dl-horizontal{
	font-size: 13px;
	dt{
		font-weight: bold;
	}
	&.text-left dt{
		text-align: left !important;
	}
	dd{
		margin-bottom: 15px;
	}
	&.tight{
		dd{
			margin-bottom: 5px;
		}
	}
}
.list-unstyled{
	li{

		margin-bottom: 10px;
		line-height: 1.4;
	}
}


ol{

    li{
		margin-bottom: 10px;
    }

    &.ol-lower-alpha{
    	list-style-type:lower-alpha;
    }
    &.ol-lower-roman{
    	list-style-type: lower-roman;
    }
    &.ol-greek{
    	list-style-type: lower-greek;
    }
    &.ol-upper-alpha{
    	list-style-type: upper-alpha;
    }
    &.ol-upper-roman{
    	list-style-type:  upper-roman;
    }
}

ul{
	line-height:1.5;
	&.arrows{
		list-style:none;
		li{
			&:before{
				content: "\e9cb";
				font-family: "ol-icon-set"!important;
				font-style: normal!important;
				font-weight: 400!important;
				font-variant: normal!important;
				text-transform: none!important;
				display: inline-block;
				vertical-align: middle;
				padding-right:7px;
				font-size: 9px;
			
			}
		}
	}
	&.np{
		padding:0;
	}
}
